body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 15px;
    background: #00224D;
    color: white;
}

#navBar a{
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

section{
    padding: 20px;
}

footer{
    padding: 10px;
    text-align: center;
    background: #5D0E41;
    color: white;
}
